{#
	src/BlogBundle/ressources/views/Hello/index.html.twig
	Etend le template parent src/BlogBundle/Ressources/views/layout.html.twig
	Variables exposées : 
		pageTitle => Titre de la page qui sera renvoyéen réponse au navigateur
		innertitle => Titre à afficher dans le corps du document HTML (SEO Friendly)
#}
{%  extends "BlogBundle::layout.html.twig" %}
{%  block title %}{{  parent() }} - Index{%  endblock %}
{%  block body %}
		<header>
			<h1 class="tolower">{{innerTitle}}</h1>
		</header>	
		<main>
			Utiliser <stong>twig</stong> permet de séparer les tâches :
			<ul>
				<li>Développeur : Modèle et Contrôleur</li>
				<li>Intégrateur : Vue Twig ou autre</li>
			</ul>
		</main>
		<footer>
			Powered by Symfony 2.8
		</footer>
{% endblock %}