{#
	src/BlogBundle/ressources/views/Hello/index.html.twig
	Variables exposées : 
		pageTitle => Titre de la page qui sera renvoyéen réponse au navigateur
		innertitle => Titre à afficher dans le corps du document HTML (SEO Friendly)
#}
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>{{pageTitle}}</title>
	</head>
	<body>
		<header>
			<h1>{{innerTitle}}</h1>
			
		</header>	
		<main>
			Utiliser twig permet de séparer les tâches :
			<ul>
				<li>Développeur : Modèle et Contrôleur</li>
				<li>Intégrateur : Vue Twig ou autre</li>
			</ul>
		</main>
		<footer>
			Powered by Symfony 2.8
		</footer>
	</body>
</html>